<div style="background: black; ">

    <div class="shift-right lapimage">
        <img height="300px"
            src="https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
            alt="">
    </div>


    <div class="stats container" style="width: max-content">
        <div class="d-flex">

            <div class="stat m-3 d-flex ">
                <img src="../../assets/people_alt_white_24dp.svg  " height="50px" alt="">
                <div class="p-1">
                    <span>10213</span><br>
                    <span>Members</span>
                </div>
            </div>


            <div class="stat m-3 d-flex ">
                <img src="../../assets/shopping_cart_white_18dp.svg" height="50px" alt="">
                <div class="p-1">
                    <span>10213</span><br>
                    <span>Members</span>
                </div>
            </div>



            <div class="stat m-3 d-flex ">
                <img src="../../assets/account_circle_white_24dp.svg" height="50px" alt="">
                <div class="p-1">
                    <span>10213</span><br>
                    <span>Members</span>
                </div>
            </div>

        </div>
    </div>
</div>